{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Order Detail {% endblock %}


{% block content %}
    <h3>Total Price: {{ order.get_total_price }}</h3><br>

    <div class="col-4">
        <form method="POST" action="{% url 'order:coupon' order.id %}" novalidate>
            {% csrf_token %}
            {{ form.code|as_crispy_field }}
            <button type="submit" class="btn btn-outline-info">Confirm Discount</button>
        </form><br>
        <a href="{% url 'order:request' order.get_total_price order.id %}" class="btn btn-outline-danger">Payment</a>
    </div>
{% endblock %}