{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{ request.user.username|capfirst }} Profile {% endblock %}


{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form.username|as_crispy_field }}
            {{ form.email|as_crispy_field }}
            <strong>
            {% if request.user.is_special_user %}
                <p class="badge badge-danger">Special User*</p><br>
                Time Left: {{ request.user.special_user_timeleft }}<br>
            {% endif %}
            </strong>
            <button type="submit" class="btn btn-outline-info">Update</button>
        </form>

        {% if not request.user.is_special_user %}
        <form method="POST" action="{% url 'order:request1' %}"><hr>
            {% csrf_token %}
            <p class="alert alert-info">Be a special user for Month and buy Products half the price for only 40000 Toman</p>
            <button type="submit" class="btn btn-outline-danger">Payment</button>
        </form>
        {% endif %}
    </div>
{% endblock %}