{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{ request.user.username|capfirst }} Profile {% endblock %}


{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form.username|as_crispy_field }}
            {{ form.email|as_crispy_field }}
            <button type="submit" class="btn btn-outline-info">Update</button>
        </form>

        <form method="POST" action="{% url 'order:request1' %}"><hr>
            {% csrf_token %}
            <p class="alert alert-info">Be a special user for Month and buy Products half the price for only 40000 Toman</p>
            <button type="submit" class="btn btn-outline-danger">Payment</button>
        </form>
    </div>
{% endblock %}