{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %} Sign-In Page {% endblock %}


{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{ form.email|as_crispy_field }}
            {{ form.password|as_crispy_field }}
            <label>{{ form.remember.label }}</label>
            {{ form.remember }}<br>
            <a href="{% url 'account:reset' %}" >forgot password?</a><br><br>
            {{ form.captcha }}<br><br>
            <button type="submit" class="btn btn-outline-info">sign-in</button><br><br>
            <a href="{% provider_login_url 'github' %}" class="btn btn-outline-secondary">Github+</a>
        </form>
    </div>
{% endblock %}