<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Home</a>
      <a class="navbar-brand" href="/products">Products</a>
      <a class="navbar-brand" href="{% url 'contact:contact' %}">Contact Us</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart:detail' %}">Cart {{ cart_nums }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:user_panel' %}">User Panel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:log_out' %}">Log-out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:sign_up' %}">Sign-Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:sign_in' %}">Sign-In</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
