{% extends 'base/base.html' %}
{% load thumbnail %}
{% load humanize %}

{% block title %} Product List {% endblock %}


{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Blog Home One
      <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
      </li>
      <li class="breadcrumb-item active">Favourite List</li>
    </ol>

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <!-- Blog Post -->
        {% for p in product %}
        <div class="card mb-4">
          {% thumbnail p.image "250x250" crop="center" as im %}
            <img class="img-fluid rounded" src="{{ im.url }}" style="width: 177px;" alt="">
          {% endthumbnail %}
            <div class="card-body">
              <h2 class="card-title"><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h2>
              <p class="card-text"></p>
              <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              {{ p.unit_price|intcomma }} Toman
            </div>
          </div>
        {% empty %}
          <h3 class="alert alert-warning">Your favourite list is empty</h3>
        {% endfor %}


        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          
            {% if product.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ product.previous_page_number }}">&larr; previous</a>
            </li>
            {% endif %}

            {% if product.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ product.previous_page_number }}">{{ product.previous_page_number }}</a>
            </li>
            {% endif %}
          
          <li class="page-item {% if page_num == page_num %} active {% endif %}"><a class="page-link" href="?page={{ product.number }}">{{ product.number }}</a></li>
          
          {% if product.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ product.next_page_number }}">{{ product.next_page_number }}</a>
            </li>
            {% endif %}

            {% if product.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ product.next_page_number }}">next &rarr;</a>
            </li>
            {% endif %}
          
          
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <form>
                {{ form }}
                  <input type="submit" class="btn btn-secondary" value="Go!" type="button">
              </form>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock %}