{% extends 'base/base.html' %}

{% block title %} Product List {% endblock %}


{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Blog Home One
      <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Blog Home 1</li>
    </ol>

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <!-- Blog Post -->
        {% for product in products %}
        <div class="card mb-4">
            <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap" style="width: 177px;">
            <div class="card-body">
              <h2 class="card-title"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
              <p class="card-text"></p>
              <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              {{ product.unit_price }} Toman
            </div>
          </div>
        {% endfor %}


        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          
            {% if products.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ products.previous_page_number }}">&larr; previous</a>
            </li>
            {% endif %}

            {% if products.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ products.previous_page_number }}">{{ products.previous_page_number }}</a>
            </li>
            {% endif %}
          
          <li class="page-item {% if page_num == page_num %} active {% endif %}"><a class="page-link" href="?page={{ products.number }}">{{ products.number }}</a></li>
          
          {% if products.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.next_page_number }}">{{ products.next_page_number }}</a>
            </li>
            {% endif %}

            {% if products.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.next_page_number }}">next &rarr;</a>
            </li>
            {% endif %}
          
          
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <form>
                {{ form }}
                  <input type="submit" class="btn btn-secondary" value="Go!" type="button">
              </form>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  {% for category in categories %}
                  <li>
                    <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock %}