{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% load divide %}
{% load thumbnail %}

{% block title %} Product List {% endblock %}


{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Products
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
      </li>
      <li class="breadcrumb-item active">Products</li>
    </ol>

    <form>
      <input type="submit" name="unit_price" value="most expensive" class="btn btn-outline-info">
      <input type="submit" name="unit_price" value="most cheap" class="btn btn-outline-info">
      <input type="submit" name="create" value="newest" class="btn btn-outline-info">
      <input type="submit" name="sell" value="most sell" class="btn btn-outline-info">

      <div style="display: none;">
        {{ filter.form.price_gte }}
        {{ filter.form.price_lte }}
        {{ filter.form.brand }}
        {{ filter.form.color }}
        {{ filter.form.size }}
      </div>
    </form>

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <!-- Blog Post -->
        {% for product in products %}
        <div class="card mb-4">
          {% thumbnail product.image "250x250" crop="center" as im %}
            <img class="img-fluid rounded" src="{{ im.url }}" style="width: 177px;" alt="">
          {% endthumbnail %}
            <div class="card-body">
              <h2 class="card-title"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h2>
              <p class="card-text"></p>
              <a href="{{ product.get_absolute_url }}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              {{ product.unit_price|intcomma }} Toman
            </div>
            <form method="POST" action="{% url 'cart:compare' product.id %}">
              {% csrf_token %}
              <input type="hidden" value="{{ product.id }}" name="product">
              <button type="submit" class="btn btn-outline-danger">Compare</button>
            </form>
          </div>
          {% endfor %}


        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          
            {% if products.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ products.previous_page_number }}&{{ data }}">&larr; previous</a>
            </li>
            {% endif %}

            {% if products.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ products.previous_page_number }}&{{ data }}">{{ products.previous_page_number }}</a>
            </li>
            {% endif %}
          
          <li class="page-item {% if page_num == page_num %} active {% endif %}"><a class="page-link" href="?page={{ products.number }}&{{ data }}">{{ products.number }}</a></li>
          
          {% if products.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.next_page_number }}&{{ data }}">{{ products.next_page_number }}</a>
            </li>
            {% endif %}

            {% if products.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ products.next_page_number }}&{{ data }}">next &rarr;</a>
            </li>
            {% endif %}
          
          
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card mb-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <form>
                Search:
                  <input name="search" class="form-control">
                  <input type="submit" class="btn btn-secondary" value="Go!" type="button">
              </form>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  {% for category in categories %}
                  <li>
                    <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            <form>
              <div class='multi-range' data-lbound='{{ min_price }}' data-ubound='{{ max_price }}'>
                <hr />
                <input type='range' name="price_gte"
                       min='{{ min_price }}' max='{{ max_price }}' step='10000' value='{{ min_price }}' 
                       oninput='this.parentNode.dataset.lbound=this.value;'
                />
                <input type='range' name="price_lte"
                       min='{{ min_price }}' max='{{ max_price }}' step='10000' value='{{ max_price }}' 
                       oninput='this.parentNode.dataset.ubound=this.value;'
                />
            </div><br>

            <label>Brand:
              {{ filter.form.brand }}
            </label><br>
            <label>Color:
              {{ filter.form.color }}
            </label><br>
            <label>Size:
              {{ filter.form.size }}
            </label><br>

            <button type="submit" class="btn btn-outline-danger">Filter</button>

            <div style="display: none;">
              {{ filter.form.unit_price }}
              {{ filter.form.create }}
              {{ filter.form.sell }}
          </div>
            </form>
            <link rel="stylesheet" href="{% static 'css/multi_range.css' %}">
          </div>

        </div>

      </div>

      <form style="display: none;">
        {{ filter.form.price_gte }}
        {{ filter.form.price_lte }}
        {% if 'search' in request.GET %}
        {{ form }}
        {% endif %}
        <button type="submit">Filter</button>
      </form>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock %}