{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{ product.title }} {% endblock %}


{% block content %}
    <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Post Title
      <small>by
        <a href="#">Start Bootstrap</a>
      </small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Blog Home 2</li>
    </ol>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{ product.image.url }}" style="width: 177px;" alt="">

        <hr>

        <!-- Date/Time -->
        <p>{{ product.title }}</p>

        {% if product.status == 'Color' %}
            <form method="POST">
            {% csrf_token %}
            {% for v in variant %}
                <input type="radio" name="select" value="{{ v.id }}"
                {% if variants.id == v.id %} checked {% endif %}
                onchange="this.form.submit()">
                <a>{{ v.color_variant }}</a>
            {% endfor %}
            </form>
        {% elif product.status == 'Size' %}
            <form method="POST">
            {% csrf_token %}
            {% for v in variant %}
                <input type="radio" name="select" value="{{ v.id }}"
                {% if variants.id == v.id %} checked {% endif %}
                onchange="this.form.submit()">
                <a>{{ v.size_variant }}</a>
            {% endfor %}
            </form>
        {% endif %}

        {% if product.status is not None %}
            <form method="POST" action="{% url 'cart:add' product.id %}">
              {% csrf_token %}
              <input name="select" type="hidden" value="{{ variants.id }}">
              <input name="quantity" type="number" value="1" min="1" max="{{ variants.amount }}"
              required class="form-control" style="width: 17% !important;">
              <button type="submit" class="btn btn-outline-info">Add</button>
            </form>
        {% else %}
          <form method="POST" action="{% url 'cart:add' product.id %}">
            {% csrf_token %}
            <input name="quantity" type="number" value="1" min="1" max="{{ product.amount }}"
            required class="form-control" style="width: 17% !important;">
            <button type="submit" class="btn btn-outline-info">Add</button>
        </form>
        {% endif %}

        <hr><hr>

      </div>

        <form method="POST" action="{% url 'product:comment' product.id %}">
          {% csrf_token %}
          {{ comment_form.comment|as_crispy_field }}
          <button type="submit" class="btn btn-outline-info">Add Comment</button>
        </form><br><br>

      {% for c in comment %}
        <div class="card bg-dark text-white">
          <p class="card-header">{{ c.user.username }} - {{ c.created }}</p>
          <p class="card-body">{{ c.comment }}</p>
        </div>
      {% endfor %}

      </div>
    </div>
{% endblock %}