{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %} {{ product.title }} {% endblock %}


{% block content %}
    <!-- Page Content -->
  <div class="container">

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">{{ product.title }}</a>
      </li>
    </ol>

    {% if is_fav %}
      <a href="{% url 'product:fav' product.id %}">remove from Favourite</a>
    {% else %}
      <a href="{% url 'product:fav' product.id %}">add to Favourite</a>
    {% endif %}

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{ product.image.url }}" style="width: 177px;" alt="">

        <hr>

        <!-- Date/Time -->
        <p>{{ product.title }}</p>
        {% if product.status == 'Both' %}
            <form method="POST">
            {% csrf_token %}
            {% for v in colors %}
                <input type="radio" name="select" value="{{ v.id }}"
                {% if variants.id == v.id %} checked {% endif %} required
                onchange="this.form.submit()">
                <a>{{ v.color_variant }}</a>
            {% endfor %}
            </form><br>
            <form method="POST">
              {% csrf_token %}
              {% for v in size %}
                  <input type="radio" name="select" value="{{ v.id }}"
                  {% if variants.id == v.id %} checked {% endif %} required
                  onchange="this.form.submit()">
                  <a>{{ v.size_variant }}</a>
              {% endfor %}
              </form>

        {% elif product.status == 'Color' %}
            <form method="POST">
            {% csrf_token %}
            {% for v in variant %}
                <input type="radio" name="select" value="{{ v.id }}"
                {% if variants.id == v.id %} checked {% endif %} required
                onchange="this.form.submit()">
                <a>{{ v.color_variant }}</a>
            {% endfor %}
            </form>
        {% elif product.status == 'Size' %}
            <form method="POST">
            {% csrf_token %}
            {% for v in variant %}
                <input type="radio" name="select" value="{{ v.id }}"
                {% if variants.id == v.id %} checked {% endif %} required
                onchange="this.form.submit()">
                <a>{{ v.size_variant }}</a>
            {% endfor %}
            </form>
        {% endif %}
      
        {% if product.status != None %}
          {% if request.user.is_special_user %}
          <h5>price: {{ variants.price_special_user|intcomma }} Toman</h5>
          {% else %}
          <h5>price: {{ variants.total_price|intcomma }} Toman</h5>
          {% endif %}
            <form method="POST" action="{% url 'cart:add' product.id %}">
              {% csrf_token %}
              <input type="hidden" name="select" value="{{ variants.id }}">
              <input type="number" name="quantity" value="1" min="1" max="{{ variants.amount }}"
              required class="form-control" style="width: 17% !important;">
              <button type="submit" class="btn btn-outline-info">Add</button>
            </form>
        {% else %}
          <form method="POST" action="{% url 'cart:add' product.id %}">
            {% csrf_token %}
            <input type="number" name="quantity" value="1" min="1" max="{{ product.amount }}"
            required class="form-control" style="width: 17% !important;">
            <button type="submit" class="btn btn-outline-info">Add</button>
        </form>
        {% endif %}

        <hr><hr>

      </div>

        <form method="POST" action="{% url 'product:comment' product.id %}">
          {% csrf_token %}
          {{ comment_form.comment|as_crispy_field }}
          <button type="submit" class="btn btn-outline-info">Submit</button>
        </form><br><br>

      {% for c in comment %}
        <div class="card bg-dark text-white">
          <p class="card-header">{{ c.user.username }} - {{ c.created }}</p>
          <p class="card-body">{{ c.comment }}</p>
        </div><br><br>
        
        <form method="POST" action="{% url 'product:reply' product.id c.id %}">
          {% csrf_token %}
          {{ reply_form.comment|as_crispy_field }}
          <button type="submit" class="btn btn-outline-danger">Submit</button>
        </form><br><br>

        {% for r in c.replies.all %}
        <div class="card bg-dark text-white">
          <p class="card-header">{{ r.user.username }} - {{ r.created }}</p>
          <p class="card-body">{{ r.comment }}</p>
        </div>
        {% endfor %}
      {% endfor %}

      </div>
    </div>
{% endblock %}